:root {
  --main-color-:#ffff;
  --secondary-color: #a0a0a0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.image-container{
  max-width: 300px;
  display:flex;
  flex-direction: column;
 justify-content: center;
}

.album-name{
  font-family:Helvetica;
  color:white;
  font-size:14px;
  
}
a:-webkit-any-link { 
  /*styling for artist name*/
  text-decoration: none;
  font-family:Helvetica;
  font-size:16px;  
  color:var(--secondary-color);
} 

.icons-container{
max-width: 40px;
max-height: 40px;
display:flex;
flex-direction: row;
justify-content: space-between;

}

.heart-icon, .play-icon, .dots-icon {
  background-color: white;
}

.icons-container:hover{
  opacity: 1;
}

.play-icon:hover{
  transform: scale(1.1);
  opacity: 1;
}
