body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.album-name{
  font-family:Helvetica;
  color:#ffffff;
  font-size:14px;
  
}

.artist-name{
  text-decoration: none;
  font-family:Helvetica;
  font-size:14px;  
  color:#a0a0a0;
}

.icons-container{
max-width: 40px;
max-height: 40px;
display:flex;
flex-direction: row;
justify-content: space-between;
}

.heart-icon, .play-icon, .dots-icon {
  background-color: white;
}